<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
      <img src="{{ url_for('static', filename='img/logo.jpeg') }}" 
           alt="Ykrishi Logo" 
           style="height: 60px !important; width: auto !important; max-height: none !important; margin-right: 10px;">
      <h1 class="sitename mb-0">Ykrishi Foundation.</h1>
    </a>
    

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{{ url_for('login_register') }}">Login/Register</a></li>
        <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('services') }}">Services</a></li>
        <li><a href="{{ url_for('team') }}">Team</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a class="nav-link" href="{{ url_for('crop_advisory') }}">Crop Advisory</a></li>

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>
